html {
    background-color: #009a9f83;
  }

li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}